<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
    
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
  
        <div class="card bg-secondary shadow border-0">
    
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Add Email Template</small>
            </div>
            <form role="form" (ngSubmit)="addEmailTemplate(addEmailTemplateForm)" #addEmailTemplateForm="ngForm">
              <div class="form-group">
                <label for="">Subject</label>
  
                <div class="input-group input-group-alternative">
                  
                  <input class="form-control"
                  required
                  placeholder="Subject" type="text" name="Subject" ngModel>
                </div>
              </div>
              <div class="form-group">
                <label for="">Content</label>
  
                <div class="input-group input-group-alternative">
                  
                  <input class="form-control" placeholder="Content" type="text" name="Content" ngModel>
                </div>
              </div>
              <div class="form-group">
                <label for="">Attachments</label>
  
                <div class="input-group input-group-alternative">
                  
                  <input class="form-control"
                  required
                  placeholder="Attachments" type="text"  name="Attachments" ngModel>
                </div>
              </div>
              
       
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4"[disabled]="addEmailTemplateForm.invalid" >Add Email template</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-3">
  
        </div>
    
  </div>
  